.app {
    margin-top: 3%;
    background-color: white;
    width: 70%;
    margin-left: 15%;
    box-shadow: 5px 5px 10px #cfcfcf;
}

body {
    background-color: rgb(224, 224, 224);
    background-image: url("../../img/background.png");
    background-repeat: repeat;
    background-size: 10%;
}

#mainBanner {
    scale: 0.98;
    border-radius: 10px;
    width: 100%;
    /* max-width: 100%; */
    height: auto;
}

#banner {
    margin-left: auto;
    margin-right: auto;
}

#buttonsToSites {
    display: flex;
    /* margin-left: 8%; */
    justify-content: space-evenly;
}

#firstButton {
    width: 250px;
    margin-left: 2%;
    transition: 100ms;
}

#firstImg{
    width: 100%;
}

#firstButton:hover {
    cursor: pointer;
    scale: 1.05;
}

#secondButton {
    width: 250px;
    margin-left: 2%;
    transition: 100ms;
}

#secondImg{
    width: 100%;
}

#secondButton:hover {
    cursor: pointer;
    scale: 1.05;
}

#thirdButton {
    width: 250px;
    margin-left: 2%;
    transition: 100ms;
}

#thirdImg{
    width: 100%;
}

#thirdButton:hover {
    cursor: pointer;
    scale: 1.05;
}

#mainDiv {
    margin-left: 5%;
    margin-right: 5%;
}