.youtube {
    margin-top: 3%;
}

#Styczen,
#Luty,
#Marzec,
#Kwiecien,
#Maj,
#Czerwiec,
#Lipiec,
#Sierpien,
#Wrzesien,
#Pazdziernik,
#Listopad,
#Grudzien {
    display: none;
}

#gamesMouth {
    text-align: center;
}

#showHideStyczen {
    background-color: gray;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#showHideStyczen:hover {
    background-color: black;
    cursor: pointer;
}

#showHideStyczen:active {
    background-color: white;
    color: black;
    cursor: pointer;
}

#showHideLuty {
    background-color: gray;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#showHideLuty:hover {
    background-color: black;
    cursor: pointer;
}

#showHideLuty:active {
    background-color: white;
    color: black;
    cursor: pointer;
}

#showHideMarzec {
    background-color: gray;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#showHideMarzec:hover {
    background-color: black;
    cursor: pointer;
}

#showHideMarzec:active {
    background-color: white;
    color: black;
    cursor: pointer;
}

#showHideKwiecien {
    background-color: gray;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#showHideKwiecien:hover {
    background-color: black;
    cursor: pointer;
}

#showHideKwiecien:active {
    background-color: white;
    color: black;
    cursor: pointer;
}

#showHideMaj {
    background-color: gray;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#showHideMaj:hover {
    background-color: black;
    cursor: pointer;
}

#showHideMaj:active {
    background-color: white;
    color: black;
    cursor: pointer;
}

#showHideCzerwiec {
    background-color: gray;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#showHideCzerwiec:hover {
    background-color: black;
    cursor: pointer;
}

#showHideCzerwiec:active {
    background-color: white;
    color: black;
    cursor: pointer;
}

#showHideLipiec {
    background-color: gray;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#showHideLipiec:hover {
    background-color: black;
    cursor: pointer;
}

#showHideLipiec:active {
    background-color: white;
    color: black;
    cursor: pointer;
}

#showHideSierpien {
    background-color: gray;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#showHideSierpien:hover {
    background-color: black;
    cursor: pointer;
}

#showHideSierpien:active {
    background-color: white;
    color: black;
    cursor: pointer;
}

#showHideWrzesien {
    background-color: gray;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#showHideWrzesien:hover {
    background-color: black;
    cursor: pointer;
}

#showHideWrzesien:active {
    background-color: white;
    color: black;
    cursor: pointer;
}

#showHidePazdziernik {
    background-color: gray;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#showHidePazdziernik:hover {
    background-color: black;
    cursor: pointer;
}

#showHidePazdziernik:active {
    background-color: white;
    color: black;
    cursor: pointer;
}

#showHideListopad {
    background-color: gray;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#showHideListopad:hover {
    background-color: black;
    cursor: pointer;
}

#showHideListopad:active {
    background-color: white;
    color: black;
    cursor: pointer;
}

#showHideGrudzien {
    background-color: gray;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#showHideGrudzien:hover {
    background-color: black;
    cursor: pointer;
}

#showHideGrudzien:active {
    background-color: white;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    #showHideStyczen {
        padding: 10px 0px 10px 0px;
    }

    #showHideLuty {
        padding: 10px 0px 10px 0px;
    }

    #showHideMarzec {
        padding: 10px 0px 10px 0px;
    }

    #showHideKwiecien {
        padding: 10px 0px 10px 0px;
    }

    #showHideMaj {
        padding: 10px 0px 10px 0px;
    }

    #showHideCzerwiec {
        padding: 10px 0px 10px 0px;
    }
    
    #showHideLipiec {
        padding: 10px 0px 10px 0px;
    }

    #showHideSierpien {
        padding: 10px 0px 10px 0px;
    }
    
    #showHideWrzesien {
        padding: 10px 0px 10px 0px;
    }
    
    #showHidePazdziernik {
        padding: 10px 0px 10px 0px;
    }

    #showHideListopad {
        padding: 10px 0px 10px 0px;
    }

    #showHideGrudzien {
        padding: 10px 0px 10px 0px;
    }

    .youtube {
        margin-bottom: 15%;
    }
}

@media screen and (max-width: 480px) {
    #showHideStyczen {
        padding: 10px 0px 10px 0px;
    }

    #showHideLuty {
        padding: 10px 0px 10px 0px;
    }

    #showHideMarzec {
        padding: 10px 0px 10px 0px;
    }

    #showHideKwiecien {
        padding: 10px 0px 10px 0px;
    }

    #showHideMaj {
        padding: 10px 0px 10px 0px;
    }

    #showHideCzerwiec {
        padding: 10px 0px 10px 0px;
    }
    
    #showHideLipiec {
        padding: 10px 0px 10px 0px;
    }

    #showHideSierpien {
        padding: 10px 0px 10px 0px;
    }
    
    #showHideWrzesien {
        padding: 10px 0px 10px 0px;
    }
    
    #showHidePazdziernik {
        padding: 10px 0px 10px 0px;
    }

    #showHideListopad {
        padding: 10px 0px 10px 0px;
    }

    #showHideGrudzien {
        padding: 10px 0px 10px 0px;
    }

    .youtube {
        margin-bottom: 15%;
    }
}