.bottomMenuContainer {
    display: inline-block;
    position: fixed;
    z-index: 9999;
    top: 20px;
}

.bottomMenuButton {
    background-color: gray;
    text-align: center;
    color: white;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
}

.bottomMenuButton:hover {
    background-color: black;
    cursor: pointer;
}

.bottomMenuButton:active {
    background-color: white;
    color: black;
    cursor: pointer;
}