.bottomMenuContainer {
    /* display: inline-block; */
    background-color: gray;
    width: 98, 5%;
    /* height: 50px; */
    display: flex;
    position: static;
    padding: 10px;
    z-index: 9999;
    /* top: 20px; */
}

.bottomMenuButton {
    background-color: gray;
    text-align: center;
    color: white;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
}

.bottomMenuButton:hover {
    background-color: black;
    cursor: pointer;
}

.bottomMenuButton:active {
    background-color: white;
    color: black;
    cursor: pointer;
}

#buttomToTop {
    background-color: gray;
    text-align: center;
    color: white;
    border: none;
    padding: 10px 15px 10px 15px;
    margin-top: 5%;
    transition: 0.3s;
    text-decoration: none;
    width: 100%;
    /* position: fixed;
    z-index: 99;
    bottom: 0px; */
}

#buttomToTop:hover {
    background-color: black;
    cursor: pointer;
}