#buttonDoPobieraniaListyGier {
    background-color: gray;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#buttonDoPobieraniaListyGier:hover {
    background-color: black;
    cursor: pointer;
}

#buttonDoPobieraniaListyGier:active {
    background-color: white;
    color: black;
    cursor: pointer;
}

#GamesList {
    column-count: 3;
    column-gap: 10px;
    column-width: 20%;
    text-align: left;
    margin-top: 6%;
}

#NoneAPIGamesList {
    column-count: 3;
    column-gap: 10px;
    column-width: 20%;
    text-align: left;
    margin-top: 6%;
}

#GameListParagraph {
    margin: 0%;
}

#ReviewGameListParagraph {
    margin: 0%;
    font-weight: 600;
    text-decoration: none;
    color: rgb(0, 171, 159);
}

#ReviewGameListParagraph:hover {
    color: rgb(46, 109, 180);
}

abbr[title] {
    text-decoration: none;
    font-weight: 600;
}