.gameInfoBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.gameInfoDescription {
    font-size: large;
    width: 400px;
}

#youTubeMiniature {
    width: 560px;
}