.container {
    position: relative;
    top: 100px;
    width: 70%;
    margin: auto;
}

.sonyContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.PS1GameCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/ps1_logo.jpg");
    transition: transform .1s;
}

.PS2GameCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/ps2_logo.jpg");
    transition: transform .1s;
}

.PS3GameCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/ps3_logo.jpg");
    transition: transform .1s;
}

.PS4GameCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/ps4_logo.jpg");
    transition: transform .1s;
}

.PSPGameCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/psp_logo.jpg");
    transition: transform .1s;
}

.PS1GameCollectionButton:hover  {
    transform: scale(1.1);
    cursor: pointer;
}
.PS2GameCollectionButton:hover  {
    transform: scale(1.1);
    cursor: pointer;
}
.PS3GameCollectionButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.PS4GameCollectionButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.PSPGameCollectionButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.XBCGameCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/xbc_logo.jpg");
    transition: transform .1s;
}

.X360GameCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/x360_logo.jpg");
    transition: transform .1s;
}

.XOneGameCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/xOne_logo.jpg");
    transition: transform .1s;
}

.XSSGameCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/xSS_logo.jpg");
    transition: transform .1s;
}

.XBCGameCollectionButton:hover  {
    transform: scale(1.1);
    cursor: pointer;
}
.X360GameCollectionButton:hover  {
    transform: scale(1.1);
    cursor: pointer;
}
.XOneGameCollectionButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.XSSGameCollectionButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.GBAGameCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/GBA_logo.jpg");
    transition: transform .1s;
}

.SNESGameCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/SNES_logo.jpg");
    transition: transform .1s;
}

.DSGameCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/NDS_logo.jpg");
    transition: transform .1s;
}

.WiiGameCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/NWii_logo.jpg");
    transition: transform .1s;
}

.GCGameCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/NGC_logo.jpg");
    transition: transform .1s;
}

.GCGameCollectionButton:hover  {
    transform: scale(1.1);
    cursor: pointer;
}
.GBAGameCollectionButton:hover  {
    transform: scale(1.1);
    cursor: pointer;
}
.SNESGameCollectionButton:hover  {
    transform: scale(1.1);
    cursor: pointer;
}
.DSGameCollectionButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.WiiGameCollectionButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.PCGameCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/PC_logo.jpg");
    transition: transform .1s;
}

.PCGameCollectionButton:hover  {
    transform: scale(1.1);
    cursor: pointer;
}

.gazetyContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.CDAGazetaCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/CDA_logo.jpg");
    transition: transform .1s;
}

.PSXEGazetaCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/PSE_logo.jpg");
    transition: transform .1s;
}

.NeoPlusGazetaCollectionButton {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 5px;
    background-image: url("../../img/NeoPlus_logo.jpg");
    transition: transform .1s;
}

.CDAGazetaCollectionButton:hover  {
    transform: scale(1.1);
    cursor: pointer;
}
.PSXEGazetaCollectionButton:hover  {
    transform: scale(1.1);
    cursor: pointer;
}
.NeoPlusGazetaCollectionButton:hover  {
    transform: scale(1.1);
    cursor: pointer;
}