.artykul {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
    width: 70%;
    text-align: justify;
}

/* #firstRow {
    width: 300px;
    margin: 10px;
    text-align: justify;
}

#secondRow {
    width: 300px;
    margin: 10px;
    text-align: justify;
}

#thirdRow {
    width: 300px;
    margin: 10px;
    text-align: justify;
} */

.image {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 35%;
    display: block;
}

.tabela {
    width: 300px;
}

table, th, td {
    width: 300px;
    border: 1px solid;
    border-collapse: collapse;
}

#more {
    display: none;
}

#moreArticleButton {
    background-color: gray;
    text-align: center;
    color: white;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#moreArticleButton:hover {
    background-color: black;
    cursor: pointer;
}

#moreArticleButton:active {
    background-color: white;
    color: black;
    cursor: pointer;
}