#youTubeShowerButton {
    background-color: gray;
    text-align: center;
    color: white;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

#youTubeShowerButton:hover {
    background-color: black;
    cursor: pointer;
}

#youTubeShowerButton:active {
    background-color: white;
    color: black;
    cursor: pointer;
}